<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Твое здоровье</title>
      {% endif %}
    </head>
    <body>
      <div>
        <img src="D:\myproject\app\templates\doc_log.jpg" title = "YH" width="25" height="25">
          Твое здоровье:
          <a href="/">На главную</a>
          <a href="{{ url_for('login') }}">Профиль</a>
      </div>
      <hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
  </body>
</html>